#{extends 'main.html' /}

<table  id="teachersTable" class="table">
  <thead class="info-header">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Phone</th>
      <th scope="col">City</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
      #{list items: teachers, as:'teacher'}
    <tr>
      <th scope="row">${teacher.employeeNumber}</th>
      <td>${teacher.firstName} </td>
      <td>${teacher.email}</td>
      <td>${teacher.phone}</td>
      <td>${teacher.cityName}</td>
      <td><a onclick="deleteTeacher()"><i class="fas fa-trash-alt fa-lg"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="@{Teachers.edit(teacher.employeeNumber)}"<i class="fas fa-edit fa-lg"></i></a></td>
    </tr>
    #{/list}
  </tbody>
</table>

<script>
function deleteTeacher() {
  var txt;
  var r = confirm("Delete teacher ${teacher?.firstName}");
  if (r == true) {
      window.location.href = '@{Teachers.deleteTeacher(teacher?.employeeNumber)}';
  }
}
</script>