<!DOCTYPE html>

<html>
    <head>
        <title>#{get 'title' /}</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/main.css'}">
        #{get 'moreStyles' /}
        <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">
    </head>
    <body>

        <header>
            <nav class="navbar navbar-light bg-light teal darken-3 navbar-expand-lg">

                <!--<a class="navbar-brand" href="#">
                    <h1><p class="text-white">Teachers</p></h1>
                </a>
                <form method="POST" action="/search" class="form-inline">
                    <input name="input.content"
                        class="form-control mr-sm-2" type="search" placeholder="Search by name or ID" aria-label="Search">
                    <button name="search" class="btn-sm search my-2 my-sm-0" type="submit">Search</button>
                </form>
            </nav>
                -->
                <a class="navbar-brand" href="#"><h1 class="text-white">Teachers</h1></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/new">New teacher</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/find">Find teacher</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/list">See all</a>
                        </li>
                    </ul>
                    <form method="POST" action="/search" class="form-inline my-2 my-lg-0">
                        <input name = "input.content" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                        <button name="search" class="search my-2 my-sm-0" type="submit">Search</button>
                    </form>
                </div>
            </nav>
        </header>
        #{doLayout /}
        <!-- Footer -->
        <footer class="page-footer font-small default-color fixed-bottom">

            <!-- Copyright -->
            <div class="footer-copyright text-center py-3">© 2019 Copyright:
                <a href="#"> My University</a>
            </div>
            <!-- Copyright -->

        </footer>
        <!-- Footer -->

        <!-- SCRIPTS --->
        <!-- Font Awesome -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
        <!-- Bootstrap core CSS -->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet">
        <!-- Material Design Bootstrap -->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.7.0/css/mdb.min.css" rel="stylesheet">
        <!-- JQuery -->
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <!-- Bootstrap tooltips -->
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
        <!-- Bootstrap core JavaScript -->
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.2.1/js/bootstrap.min.js"></script>
        <!-- MDB core JavaScript -->
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.7.0/js/mdb.min.js"></script>
        <!-- sweet alert -->
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
        <!-- js for sweet alert -->
        <script type="text/javascript" src="/public/javascripts/alert.js"></script>
        <!-- scripts for async tables -->
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.10.18/b-1.5.4/b-html5-1.5.4/b-print-1.5.4/datatables.min.css"/>

        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
        <script type="text/javascript" src="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.10.18/b-1.5.4/b-html5-1.5.4/b-print-1.5.4/datatables.min.js"></script>
        <script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
        <script type="text/javascript" src="/public/javascripts/table.js"></script>

        #{get 'moreScripts' /}
        <!-- END SCRIPTS -->
    </body>
</html>
